<!DOCTYPE html>
<html lang="en">
<head>

    <title> Galeria nr 2</title>
    <meta charset="UTF-8">
   {% extends "index2.html" %}
    {% set active_page = "index2.html" -%}
</head>
{% block body %}




<div class="container">
  <div class="row">
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz1">
    </a>
    </div>
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz2.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz2.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz2">
    </a>
    </div>
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz3.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz3.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz3">
    </a>
    </div>
  </div>
</div>

    <div class="container">
  <div class="row">
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz4.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz4.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz4">
    </a>
    </div>
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz5.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz5.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz5">
    </a>
    </div>
    <div class="col">
<a href={{ url_for('static', filename= 'krajobraz6.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz6.jpg') }}"  class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz6">
    </a>
    </div>
  </div>
</div>

    <div class="container">
  <div class="row">
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz7.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz7.jpg') }}" class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz7">
    </a>
    </div>
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz8.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz8.jpg') }}" class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz8">
    </a>
    </div>
    <div class="col">
    <a href={{ url_for('static', filename= 'krajobraz9.jpg') }} data-toggle="lightbox" data-gallery="my-gallery">
    <img src="{{ url_for('static', filename= 'krajobraz9.jpg') }}" class="img-fluid w-100 shadow-1-strong rounded mb-4" alt="Krajobraz9">
    </a>
    </div>
  </div>
</div>
<script type="text/javascript">
   $(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});

</script>
{% endblock %}


</html>