<!DOCTYPE html>
<html lang="en">
<head>
    <title> Strona domowa </title>
    {% extends "index2.html" %}
    <meta charset="UTF-8">
    {% set active_page = "index2" -%}
</head>
{% block body %}
<main class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Pogoda</h1>
            <p class="lead">Zapraszamy do sprawdzenia pogody</p>
        </div>
    <div id="contact-container">
        <form action="/weather" method="POST">
            <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <input name="city" placeholder="Wpisz nazwę miasta" type="text" class="form-control" id="city" required>
        </div>
          <div class="mb-3">
            <input type="submit" class="form-submit" value="Send">
          </div>
        </form>
    {% if data %}
        <p>{{data}}</p>
    {% endif %}
        <p>Dostawca API : OpenWeather</p>
    </div>
    </main>
{% endblock %}
</body>
</html>